*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header section */
.header{
    background-color: #1F2937;
    color: #fff;
    width: 785px;
    font-family: sans-serif;
    }
.head{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 650px;
    margin: 0 auto 50px;
}
.head-logo{
    font-size: 12px;
}
.head-links{
    display: flex;
    gap: 26px;
    font-size: 12px;
}
li{
    list-style-type: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.others{
    display: flex;
    width: 650px;
    margin: auto ; 
    margin-bottom: 40px;
    align-items: center;
    }
.others-text{
    margin-bottom: 50px;
    padding: 20px 20px 20px 0;
}
.others-text h2{
    color: #F9FAF8;
    font-size: 32px;
    }
p{
    font-size: 12px;
    color: #E5E7EB;
}
.box{
    min-width: 330px; 
    height: 140px;
    background-color: #9ba1ad;
    font-size: 12px;
    margin-top: -50px; 
    margin-bottom: -5px;
    padding: 60px 30px 60px 80px ;    
    color: #E5E7EB;
  }
    .btn{
    border: 1px solid #3882F6;
    border-radius: 5px;
    background: #3882F6;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
    }

    /* First body section */
    .first-body{
        width: 550px;
        font-family: sans-serif;
        margin: auto;
    }
     .text{
        color: #1F2937;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .boxes-container{
        display: flex;
        width: 500px;
        margin: auto;
        margin-bottom: 20px;
               
    }
    .boxes p{
        font-size: 12px;
        color: #1F2937;
        padding-top: 5px;
        text-align: start;
       }
     .boxes{
        padding: 10px;
        }
    .box-img{ 
         border: 1px solid #3882F6;
        height: 80px;
        width: 90px;
        border-radius: 5px; 
        padding: 30px; 
    }
    /* quotes section */
    .second-body{
        background-color: #E5E7EB;
        width: 785px;
        height: 300px;
        margin-top: 50px;
        padding: 100px;
        margin-bottom: 50px;
        }
    .quote {
        font-size: 30px;
        width: 500px;
        text-align: center;
        margin: auto;
        }
        .quote,.ref{
        color:#1F2937;
        font-style: italic;
        }
        .ref{
            margin-top: 10px;
            text-align: end;
            font-size: 14px;
            font-weight: bold;
        }
        /* Styles for call to action */

        .cta-body{
            height: 200px;
        }
        .cta-container{
            display: flex;
            margin: 0 50px;
            width: 680px;
            border: 1px solid #3882F6;
            border-radius: 5px;
            align-items: center;
            color: #fff;
            padding: 40px 50px;
            background-color: #3882F6;
            justify-content: space-between;
         }     
         .cta-btn{
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px 20px;
         }
         /* footer */
         .footer {
            background-color: #1F2937;
            color: #fff;
            text-align: center;
            width: 785px;
         }
         .footer p{
            padding: 20px 40px;
         }